<h2> Hi <%= @user.username %>. Here are all of your saved patterns  </h2>

<% @patterns.each_with_index do |pattern, index| %>
  <div>
    <p>#<%= index+1 %>.  <%= pattern.pattern_name %></p>
    <p>Category: <%= pattern.pattern_category %></p>
    <p><a href="/patterns/<%=pattern.id%>"> More Info </a><p>
    <br>
  </div>
<% end %>

<a href="/patterns/new"> Add another pattern to your list </a> <br>
<a href="/logout"> Log Out </a>
