<h2> <%= @pattern.pattern_name %> </h2>

<p>Category: <%= @pattern.pattern_category %></p>
<p>URL: <%= @pattern.pattern_url %></p> 
<p>Free Pattern: <%= @pattern.free_pattern %></p>
<p>Suggested Yarn: <%= @pattern.suggested_yarn %></p>
<p>Yarn Weight: <%= @pattern.yarn_weight %></p>
<p>Needle Size: <%= @pattern.needle_size %></p>
<p>Yardage: <%= @pattern.yardage %></p>
<p>Notes: <%= @pattern.pattern_notes %></p>

<form method="post" action="/patterns/<%=@pattern.id%>/delete">
  <input type="submit" value="Delete This Pattern">
</form>

<a href="/patterns/<%=@pattern.id%>/edit">Edit This Pattern</a><br>
<a href="/patterns/new"> Add another pattern </a> <br>
<a href="/patterns"> See all your patterns </a>